html, body {
  height: 100%;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  background-color: #424244;
}

.body_transition{
  opacity: 0;
  transition: all 0.5s;
}

h1{
  font-size: 2.5rem;
}

p{
  font-size: 1.1rem;
}

section{
  background-color: #424242;
  border: none;
}

/* MENY */

nav {
    background-color: #424242;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 55%;
  }

  ul{
    margin-right: 1vw;
    margin-left: auto
  }

  li{
    text-decoration: none;
    display: inline;
  }

  .nav-item{
    font-size: 1.5rem;
    font-family: 'Montserrat';
    text-decoration: none;
    margin-right: 0.5vw;
  }

  .nav-link{
    color: #7a7a7a !important;
  }

  .nav-link:hover{
    color:#34b24d !important;
    transition: color 0.5s ease;
  }

  .active{
    color:#34b24d !important;
  }


  .sliding {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
  }

  .sliding:after {
    content: '';
    display: block;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
  }

  .sliding:hover:after {
    width: 100%;
    background: #34b24d;
  }

/* SLUT MENY */










/* Footer */

#socials{
  background-color: #424242;
}

.flex-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: normal;
  margin-top: 2vh;
  margin-bottom:2vh;
}

.flex-items a{
  text-decoration: none;
  color: white;
}

.fa{
  padding: 1.1rem;
  font-size: 2rem !important;
  width: 3.5vw;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background-color: #7a7a7a;
  margin-left: 0.3vw;
  margin-right: 0.3vw;
}

.fa:hover{
  background-color: #9a9a9a;
  transition: background-color 0.5s;
}

.footer-nav{
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

.footer-nav a{
  text-decoration: none;
  color: white;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

.footer-nav a:hover{
  color:#34b24d;
  transition: color 0.5s ease;
}

#footer-name{
  text-align: center;
  color:#34b24d;
}

/* Footer slut */
















/* Mobil */

@media only screen and (max-width: 600px) {
  
  .navbar-nav{
    display: contents !important;
  }

  footer{
    margin-top: 5vh;
  }

  .fa{
    width: 17vw;
  }

  .footer-nav a{
    font-size: 2rem;
    margin-right: 2vw;
    margin-left: 2vw;
  }

}